MYSQL_PORT=3306
MYSQL_DATABASE=nso_platform
MYSQL_USER=nso_app
MYSQL_PASSWORD=nso_app_change_me
MYSQL_ROOT_PASSWORD=nso_root_change_me

REDIS_PORT=6379

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=nso_minio
MINIO_ROOT_PASSWORD=nso_minio_change_me

SERVER_PORT=8080
NSO_DATASOURCE_URL=jdbc:mysql://localhost:3306/nso_platform?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
NSO_DATASOURCE_USERNAME=nso_app
NSO_DATASOURCE_PASSWORD=nso_app_change_me
NSO_REDIS_HOST=localhost
NSO_REDIS_PORT=6379
NSO_REDIS_DATABASE=0
NSO_FLYWAY_ENABLED=false
